body {
  padding: 0;
  background-color: slategray;
  color: rgb(23, 49, 94);
}

h1 {
  color: rgb(32, 45, 97);
}

figure {
  max-width: 80%;
  text-align: center;
}

img {
  max-width: 80%;
}

figcaption {
  font-size: small;
}